@import "~bootstrap/scss/bootstrap";

h2 {
    text-align: center;
    margin: 2rem;
}

img {
    width: 100%;
}

// admin\dish\index

.dish-card {
    border: 2px solid #eee;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    // transition: all 0.3s ease-in-out;

    width: 100%;
    height: 100%;
}

.dish-card:hover {
    // transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.dish-image {
    border-radius: 15px 15px 0 0;
    height: 200px;
    object-fit: cover;
}

.dish-icons {
    text-align: center;

    a {
        text-decoration: none;
    }
}

main {
    padding-top: 60px;
}

.customer_nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #222629;
}

.custom_container {
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;

    .overlay {
        width: 838px;
        position: relative;
        background: rgba(0, 0, 0, 0.5);
        color: #fff;
        padding: 20px;
        margin-bottom: 20px;
        border-radius: 20px;
    }

    .overlay h2 {
        margin: 0;
    }
}

.overlay_register {
    max-height: 280px;
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.custom_button {
    background-color: #3a970f;
    color: #fff;
    border: 1px solid #3a970f !important;
    color: #fff !important;
    border: 1px solid #3a970f !important;
}

.custom_button:hover {
    background-color: #fff;
    color: #3a970f !important;
    border: 1px solid black;
}

.animation-img {
    position: absolute;
    left: 0;
    top: 420px;
    max-width: 350px;
    animation: moveImage 6s linear infinite;
}

@keyframes moveImage {
    0% {
        left: -10%;
    }
    100% {
        left: 78%;
    }
}

.custom-card {
    min-width: 1100px;
}

#password-match-error {
    min-width: 115px;
}

.custom-card {
    border: 2px solid #eee;
    border-radius: 15px;
    margin-top: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin: auto;
    // transition: all 0.3s ease-in-out;
}

.custom-card:hover {
    // transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

#show-password {
    cursor: pointer;
    user-select: none;
}

#show-password-confirmation {
    cursor: pointer;
    user-select: none;
}
